tp4/ej4/dashboard.json
[{"id":"fdf5a4c2.48f69","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"88ee38dc.2a55a8","type":"mqtt in","z":"fdf5a4c2.48f69","name":"","topic":"tanque_malta","qos":"2","broker":"d50fe43e.1d55a","x":395.7143249511719,"y":208.5714111328125,"wires":[["89591ad4.eca37","843c1f44.89fc98"]]},{"id":"6c21bdd.ec36244","type":"mqtt in","z":"fdf5a4c2.48f69","name":"","topic":"temp_tanque_elab","qos":"2","broker":"d50fe43e.1d55a","x":408.7143249511719,"y":329.5714111328125,"wires":[["73556762.bdbe2","a79f38c7.a0c78"]]},{"id":"9514dc8.f16b32","type":"mqtt in","z":"fdf5a4c2.48f69","name":"","topic":"presion_tanque_elab","qos":"2","broker":"d50fe43e.1d55a","x":415.7143249511719,"y":386.5714111328125,"wires":[["6580e6e9.22bd08"]]},{"id":"1a7e8b11.d5a18d","type":"mqtt in","z":"fdf5a4c2.48f69","name":"","topic":"brillo_tanque_elab","qos":"2","broker":"d50fe43e.1d55a","x":404.7143249511719,"y":437.5714111328125,"wires":[["75c8921b.266a34"]]},{"id":"3e0c6031.60b74","type":"mqtt in","z":"fdf5a4c2.48f69","name":"","topic":"valvula_malta","qos":"2","broker":"d50fe43e.1d55a","x":386.7143249511719,"y":490.5714111328125,"wires":[["f5b4745.60c2608"]]},{"id":"ac824179.489818","type":"mqtt in","z":"fdf5a4c2.48f69","name":"","topic":"valvula_agua","qos":"2","broker":"d50fe43e.1d55a","x":382.7143249511719,"y":534.5714111328125,"wires":[["9ef12155.93943"]]},{"id":"a7c8b42a.4b11","type":"mqtt in","z":"fdf5a4c2.48f69","name":"","topic":"parada_proceso","qos":"2","broker":"d50fe43e.1d55a","x":389.7143249511719,"y":581.5714111328125,"wires":[["c327b41f.8585f8","871fe43c.0f0398"]]},{"id":"3aa43919.09142e","type":"ui_gauge","z":"fdf5a4c2.48f69","name":"Presion tanque elaboración","group":"d4fd2e85.debbe8","order":6,"width":"6","height":"4","gtype":"gage","title":"Presion ","label":"Pa","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":813.2143249511719,"y":385.5714111328125,"wires":[]},{"id":"fb6110b7.96a48","type":"ui_gauge","z":"fdf5a4c2.48f69","name":"Temperatura tanque elaboración","group":"d4fd2e85.debbe8","order":7,"width":"6","height":"4","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":832.7143249511719,"y":332.5714111328125,"wires":[]},{"id":"2a632070.3a65c8","type":"ui_gauge","z":"fdf5a4c2.48f69","name":"Brillo mezcla","group":"d4fd2e85.debbe8","order":4,"width":"6","height":"4","gtype":"gage","title":"Brillo mezcla","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":756.7143249511719,"y":438.5714111328125,"wires":[]},{"id":"8bae5810.d70ed8","type":"ui_gauge","z":"fdf5a4c2.48f69","name":"Nivel tanque malta","group":"dc190f2c.9dd878","order":0,"width":"0","height":"0","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":777.7143249511719,"y":204.5714111328125,"wires":[]},{"id":"2ac1b9ca.7c3c36","type":"ui_text","z":"fdf5a4c2.48f69","group":"d4fd2e85.debbe8","order":0,"width":"6","height":"2","name":"valvula malta","label":"Valvula malta","format":"{{msg.payload}}","layout":"row-spread","x":737.7143249511719,"y":490.5714111328125,"wires":[]},{"id":"c419eaf2.f3a97","type":"ui_text","z":"fdf5a4c2.48f69","group":"d4fd2e85.debbe8","order":0,"width":"6","height":"2","name":"valvula agua","label":"valvula agua","format":"{{msg.payload}}","layout":"row-spread","x":735.7143249511719,"y":532.5714111328125,"wires":[]},{"id":"ae1cb785.c1bbb8","type":"ui_toast","z":"fdf5a4c2.48f69","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Notificación parada actuadores","x":787.2143249511719,"y":582.5714111328125,"wires":[]},{"id":"73556762.bdbe2","type":"function","z":"fdf5a4c2.48f69","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":599.2143249511719,"y":332.5714111328125,"wires":[["fb6110b7.96a48"]]},{"id":"89591ad4.eca37","type":"function","z":"fdf5a4c2.48f69","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":581.7143249511719,"y":202.5714111328125,"wires":[["8bae5810.d70ed8"]]},{"id":"6580e6e9.22bd08","type":"function","z":"fdf5a4c2.48f69","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":596.7143249511719,"y":387.5714111328125,"wires":[["3aa43919.09142e"]]},{"id":"75c8921b.266a34","type":"function","z":"fdf5a4c2.48f69","name":"","func":"return {\n    payload: Math.trunc(parseInt(msg.payload) * 100 / 658)\n}\n","outputs":1,"noerr":0,"x":592.7143249511719,"y":436.5714111328125,"wires":[["2a632070.3a65c8"]]},{"id":"843c1f44.89fc98","type":"function","z":"fdf5a4c2.48f69","name":"notificacion_proveedores","func":"/*return {\n    payload: Math.trunc(parseInt(msg.payload) \n    * 100 / 658)\n}\n*/\n\nreturn{\n    payload: parseInt(msg.payload) < (658 * 0.3) \n    ? \"NIVELES CRÍTICOS DE MALTA\" : \"\"\n}\n\n/*\nreturn msg;\n*/","outputs":1,"noerr":0,"x":636.2143249511719,"y":144.5714111328125,"wires":[["99c4b93.fc22448"]]},{"id":"99c4b93.fc22448","type":"ui_text","z":"fdf5a4c2.48f69","group":"dc190f2c.9dd878","order":0,"width":0,"height":0,"name":"Notificación a proveedores","label":"","format":"<b>{{msg.payload}}</b>","layout":"row-spread","x":904.2143249511719,"y":140.5714111328125,"wires":[]},{"id":"a79f38c7.a0c78","type":"function","z":"fdf5a4c2.48f69","name":"","func":"return{\n    payload: parseInt(msg.payload) < (150) \n    ? \"CALEFACCIÓN ENCENDIDA\" \n    : \"CALEFACCIÓN APAGADA\"\n}","outputs":1,"noerr":0,"x":601.2143249511719,"y":276.5714111328125,"wires":[["a4202953.c8f1d"]]},{"id":"a4202953.c8f1d","type":"ui_text","z":"fdf5a4c2.48f69","group":"d4fd2e85.debbe8","order":0,"width":0,"height":0,"name":"Calefacción","label":"","format":"{{msg.payload}}","layout":"col-center","x":760.2143249511719,"y":274.5714111328125,"wires":[]},{"id":"9ef12155.93943","type":"function","z":"fdf5a4c2.48f69","name":"","func":"\nreturn{\n    payload: parseInt(msg.payload) == (1) \n    ? \"VÁLVULA ABIERTA\" : \"VÁLVULA CERRADA\"\n}","outputs":1,"noerr":0,"x":553.2143249511719,"y":533.5714111328125,"wires":[["c419eaf2.f3a97"]]},{"id":"f5b4745.60c2608","type":"function","z":"fdf5a4c2.48f69","name":"","func":"\nreturn{\n    payload: parseInt(msg.payload) == (1) \n    ? \"VÁLVULA ABIERTA\" : \"VÁLVULA CERRADA\"\n}\n","outputs":1,"noerr":0,"x":551.7143249511719,"y":486.5714111328125,"wires":[["2ac1b9ca.7c3c36"]]},{"id":"c327b41f.8585f8","type":"function","z":"fdf5a4c2.48f69","name":"","func":"if(parseInt(msg.payload) == 1){\n    return{\n        payload: \"PROCESO DETENIDO\"\n    }\n}else return null","outputs":1,"noerr":0,"x":558.7143249511719,"y":583.5714111328125,"wires":[["ae1cb785.c1bbb8"]]},{"id":"98a58497.aac27","type":"ui_text","z":"fdf5a4c2.48f69","group":"c5f9a22f.d1949","order":0,"width":0,"height":0,"name":"","label":"Estado del proceso","format":"{{msg.payload}}","layout":"row-spread","x":742.2143249511719,"y":637.5714111328125,"wires":[]},{"id":"871fe43c.0f0398","type":"function","z":"fdf5a4c2.48f69","name":"","func":"if(parseInt(msg.payload) == 1){\n    return{\n        payload: \"DETENIDO\"\n    }\n}else{\n    return{\n        payload: \"CORRIENDO\"\n    }\n}","outputs":1,"noerr":0,"x":562.7143249511719,"y":637.5714111328125,"wires":[["98a58497.aac27"]]},{"id":"d50fe43e.1d55a","type":"mqtt-broker","z":"","name":"","broker":"mosquitto-broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d4fd2e85.debbe8","type":"ui_group","z":"","name":"Sensores Tanque Elaboración","tab":"75b409d7.2d827","order":2,"disp":true,"width":"12"},{"id":"dc190f2c.9dd878","type":"ui_group","z":"","name":"Tanque Malta","tab":"75b409d7.2d827","order":3,"disp":true,"width":"6"},{"id":"c5f9a22f.d1949","type":"ui_group","z":"","name":"Estado Proceso","tab":"75b409d7.2d827","order":1,"disp":false,"width":"6"},{"id":"75b409d7.2d827","type":"ui_tab","z":"","name":"Sala Control","icon":"dashboard"}]