tp4/ej4/mock.json
[{"id":"54ad604c.fd483","type":"tab","label":"Mock","disabled":false,"info":""},{"id":"39524483.5e079c","type":"mqtt out","z":"54ad604c.fd483","name":"","topic":"tanque_malta","qos":"2","retain":"","broker":"d50fe43e.1d55a","x":564,"y":211,"wires":[]},{"id":"93ef39.237cb8c8","type":"inject","z":"54ad604c.fd483","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":171,"y":198,"wires":[["2ce44184.813ea6"]]},{"id":"2ce44184.813ea6","type":"random","z":"54ad604c.fd483","name":"","low":"1","high":"658","inte":"true","property":"payload","x":349,"y":209,"wires":[["39524483.5e079c"]]},{"id":"d50fe43e.1d55a","type":"mqtt-broker","z":"","name":"","broker":"mosquitto-broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]