tp4/ej4/mock.json
[{"id":"54ad604c.fd483","type":"tab","label":"Mock","disabled":false,"info":""},{"id":"39524483.5e079c","type":"mqtt out","z":"54ad604c.fd483","name":"","topic":"tanque_malta","qos":"2","retain":"","broker":"d50fe43e.1d55a","x":570,"y":190,"wires":[]},{"id":"93ef39.237cb8c8","type":"inject","z":"54ad604c.fd483","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":171,"y":198,"wires":[["2ce44184.813ea6"]]},{"id":"2ce44184.813ea6","type":"random","z":"54ad604c.fd483","name":"","low":"1","high":"658","inte":"true","property":"payload","x":351,"y":196,"wires":[["39524483.5e079c"]]},{"id":"18baad0.a7a4e53","type":"mqtt out","z":"54ad604c.fd483","name":"","topic":"temp_tanque_elab","qos":"2","retain":"","broker":"d50fe43e.1d55a","x":562,"y":270,"wires":[]},{"id":"727f78a0.52b8e","type":"inject","z":"54ad604c.fd483","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":153,"y":278,"wires":[["e826c163.bd51d"]]},{"id":"e826c163.bd51d","type":"random","z":"54ad604c.fd483","name":"","low":"1","high":"658","inte":"true","property":"payload","x":333,"y":276,"wires":[["18baad0.a7a4e53"]]},{"id":"6e95c69e.9489f8","type":"mqtt out","z":"54ad604c.fd483","name":"","topic":"presion_tanque_elab","qos":"2","retain":"","broker":"d50fe43e.1d55a","x":565,"y":359,"wires":[]},{"id":"5aa4a472.5a719c","type":"inject","z":"54ad604c.fd483","name":"","topic":"","payload":"","payloadType":"date","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":146,"y":367,"wires":[["9fd174b0.4caac"]]},{"id":"9fd174b0.4caac","type":"random","z":"54ad604c.fd483","name":"","low":"1","high":"658","inte":"true","property":"payload","x":326,"y":365,"wires":[["6e95c69e.9489f8"]]},{"id":"3bfe8d49.2cc28a","type":"mqtt out","z":"54ad604c.fd483","name":"","topic":"brillo_tanque_elab","qos":"2","retain":"","broker":"d50fe43e.1d55a","x":566,"y":434,"wires":[]},{"id":"7f94b4db.afa96c","type":"inject","z":"54ad604c.fd483","name":"","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":false,"onceDelay":0.1,"x":157,"y":442,"wires":[["a0985dd1.baa4c8"]]},{"id":"a0985dd1.baa4c8","type":"random","z":"54ad604c.fd483","name":"","low":"1","high":"658","inte":"true","property":"payload","x":337,"y":440,"wires":[["3bfe8d49.2cc28a"]]},{"id":"9599618d.cd442","type":"mqtt out","z":"54ad604c.fd483","name":"","topic":"valvula_malta","qos":"2","retain":"","broker":"d50fe43e.1d55a","x":550,"y":508,"wires":[]},{"id":"bf2f9a66.5c731","type":"inject","z":"54ad604c.fd483","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":151,"y":516,"wires":[["e83fde7d.43cab"]]},{"id":"e83fde7d.43cab","type":"random","z":"54ad604c.fd483","name":"","low":"0","high":"1","inte":"true","property":"payload","x":331,"y":514,"wires":[["9599618d.cd442"]]},{"id":"691625d0.67abec","type":"mqtt out","z":"54ad604c.fd483","name":"","topic":"valvula_agua","qos":"2","retain":"","broker":"d50fe43e.1d55a","x":542,"y":573,"wires":[]},{"id":"5a673c7a.b8362c","type":"inject","z":"54ad604c.fd483","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":143,"y":581,"wires":[["f93288b6.19d9a8"]]},{"id":"f93288b6.19d9a8","type":"random","z":"54ad604c.fd483","name":"","low":"0","high":"1","inte":"true","property":"payload","x":323,"y":579,"wires":[["691625d0.67abec"]]},{"id":"62968ba5.338c7c","type":"mqtt out","z":"54ad604c.fd483","name":"","topic":"parada_proceso","qos":"2","retain":"","broker":"d50fe43e.1d55a","x":552,"y":646,"wires":[]},{"id":"60fa8869.effab8","type":"inject","z":"54ad604c.fd483","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":143,"y":654,"wires":[["ed366eb3.3a28"]]},{"id":"ed366eb3.3a28","type":"random","z":"54ad604c.fd483","name":"","low":"0","high":"1","inte":"true","property":"payload","x":323,"y":652,"wires":[["62968ba5.338c7c"]]},{"id":"d50fe43e.1d55a","type":"mqtt-broker","z":"","name":"","broker":"mosquitto-broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
